body {
  align-items: center;
  text-align: center;
  align-content: center;
}
ul > li {
  width: auto;
  display: flex;
  margin: 15px;
}
ul > li > :link img{
  width: 55%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
div>img{
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
ul > li :link h2{
  text-decoration: none;
  color: #000;
}